#footer-thankyou {
    font-style: italic;
    display: none;
}
.question{
    background: #f8f8f8 !important;
    padding:10px; 
    border:solid 2px #e1e1e1;
}

#opfieldyn-1>#removeop , #opfield-1>#removeop{
    display: none;
}
.selectt{
	display: none;
}
#question-content-section{
	display: none;
}

#app > div:first-child #delete-question {
    display: none;
}
.drag-cursor{
	cursor: all-scroll;
}
.the-bar{
	background: #f3f3f3;
	border: solid 1px #e1e1e1;
}